<div class="container mt-3">

  <div class="row">
    <div class="col-12">
      <h2>My Laptops( <%= @laptops.count %> )</h2>
    </div>
  </div>

<div class="laptops">
  <% @laptops.each do |l| %>
    <div class="laptop-card">
      <h4><%= l.name %></h4>
      <p> <%= l.description %> </p>
      <div class="price">
        <p><%= l.price_per_day%> €/day</p>
      </div>
      <div class="config">
        <%= link_to "Edit", edit_laptop_path(l), class: "btn btn-outline-warning" %>
        <%= link_to "Delete", laptop_path(l), method: :delete, data: { confirm: " Are you sure ? "}, class: "btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container-bookings">
  <div class="row">
    <div class="col-6">
      <h2>My Bookings(<%= @bookings.count %>)</h2>
      <div class="bookings">
        <% @bookings.each do |b| %>
          <div class="booking-card">
            <h4><%= b.laptop.name %> ( <%= b.status %> )</h4>
            <p> Booked from <%= b.start_date.strftime("%d/%m/%y") %> to <%= b.end_date.strftime("%d/%m/%y") %></p>
            <div class="price">
              <p>Total price: </p>
              <p> <%= b.price %>€</p>
            </div>
            <% if b.status != "cancelled" %>
            <div class="cancel">
              <%= link_to "Cancel", cancel_booking_path(b), method: :patch, class: "btn btn-outline-warning" %>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-6">
      <h2>My Booked Laptops(<%= @booked.count %>)</h2>
      <div class="rentals">
        <% @booked.each do |b| %>
          <div class="booked-card">
            <h4><%= b.laptop.name %></h3>
            <p>Booked by <%= b.user.first_name %> from <%= b.start_date.strftime("%d/%m/%y") %> to <%= b.end_date.strftime("%d/%m/%y") %></p>
            <div class="price">
              <p>Total Price: </p>
              <p> <%= b.price %>€</p>
            </div>
            <% if b.status == "pending"%>
              <div class="accept-deny">
              <%= link_to "Accept", accept_booking_path(b), method: :patch, class: "btn btn-outline-success" %>
              <%= link_to "Deny", deny_booking_path(b), method: :patch, class: "btn btn-outline-danger" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

