<h2>My Laptops( <%= @laptops.count %> )</h2>
<div class="laptops">
  <% @laptops.each do |l| %>
    <div class="laptop">
      <h3><%= l.name %></h3>
      <p> <%= l.description %> </p>
      <div class="price">
        <p><%= l.price_per_day %></p>
      </div>
      <div class="config">
        <%= link_to "Edit", edit_laptop_path(l), class: "btn btn-outline-warning" %>
        <%= link_to "Delete", laptop_path(l), method: :delete, data: { confirm: " Are you sure ? "}, class: "btn btn-outline-danger" %>
      </div>
    </div>
  <% end %>
</div>

<h2>My Bookings(<%= @bookings.count %>) </h2>
<div class="bookings">
  <% @bookings.each do |b| %>
    <div class="booking">
      <h3><%= b.laptop.name %>( <%= b.status %> )</h3>
      <p> Booked from <%= b.start_date %> to <%= b.end_date %></p>
      <div class="price">
        <h3>Total price :</h3>
        <p><%= b.price %></p>
      </div>
    </div>
  <% end %>
</div>

<h2>My booked Laptops(<%= @booked.count %>)</h2>
<div class="bookings">
  <% @booked.each do |b| %>
  <h3><%= b.laptop.name %></h3>
  <p>Booked by <%= b.user.first_name %> from <%= b.start_date %> to <%= b.end_date %></p>
  <% end %>
</div>

