<div class="index-container">

  <div class="cards">
    <% @laptops.each do |laptop| %>
     <%= link_to laptop_path(laptop), target: "_blank" do %>
      <div class="">
        <div class="laptop-card">
          <img src="<%= cl_image_path(laptop.photo.key) %>" alt="">
         <div class="laptop-card-text">
            <h3> <%= laptop.name %> </h3>
            <p><%= laptop.description %></p>
            <h2><strong><%= laptop.price_per_day %> €/day </strong></h2>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
  <div id="map"
       style="width: 50%; height: calc(100vh - 165px);"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
</div>

