<head>
  <script src="https://kit.fontawesome.com/773f0af078.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>All available laptops(<%= @laptops.count %>)</h1>
      </div>
    </div>

    <div class="row">
      <% @laptops.each do |laptop| %>
        <div class="col-4">
          <div class="laptop-card">
            <h4> <%= link_to laptop.name, laptop_path(laptop) %> </h4>
              <p><strong>Description:</strong> <%= laptop.description %></p>
            <div class="flex">
              <div class="flex ml-3">
              <p><%= laptop.price_per_day %> €/day </p>
              </div>
            </div>
    <!--           <div class="laptop-card-actions">
                <%= link_to 'More info', laptop_path(laptop) %>
                <%= link_to 'Edit', edit_laptop_path(laptop), class: 'ml-3 text-warning' %>
                <%= link_to "Delete", laptop_path(laptop),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: 'ml-3 text-danger'
                %>
                </div> -->
          </div>
        </div>
      <% end %>
    </div>

    <div id="map"
         style="width: 100%; height: 600px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</body>
