<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@laptop.photo.key) %>')">
</div>
<div id="full-laptop-show">
  <div id="full-card">
    <div class="laptop-details">
      <div id="pricename">
        <h1><%= @laptop.name %></h1>
        <div id="dayprice">
          <i class="fas fa-euro-sign"></i>
          <h2><%= @laptop.price_per_day %> / day</h2>
        </div>
      </div>
      <div id="laptop-address">
        <i class="fas fa-map-marker-alt"></i>
        <p><%= @laptop.address %></p>
      </div>
    </div>
    <div class="laptop-details">
      <h4><%= @laptop.description %></h4>
    </div>
  </div>
    <% if (@laptop.user != current_user) %>
      <div id="book-laptop">
        <h2>Book this laptop !</h2>
        <%= render "bookings/new" %>
        <br>
        <div id="full-price">
          <p>Total Price :</p>
          <p id="total-price" data-price-per-day="<%= @laptop.price_per_day %>" ><%= @laptop.price_per_day %>€</p>
        </div>
      </div>
    <% else %>
    <% end %>
</div>
 -->
